/* img {
    background: url(/src/assets/images/background_image/valorant_background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    z-index: 0;
} */

.main-container {
    flex: .5;
    background-color: rgb(22, 29, 41);
    height: 100%;
    gap: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.homepage-container {
    height: 100%;
}