main {
    flex: .5;
    /* background: url(./assets/images/background_image/valorant_background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    z-index: 0; */
    /* height: 100%;
    width: 100%; */
    background-color: black;
}

img {
    background: url(/src/assets/images/background_image/valorant_background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    z-index: 0;
}

.main-container {
    height: 100%;
    /* background-color: black; */
}